---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="About — Nathan Bullock">
<section class="hero">
<h1>About Me</h1>
<p class="muted">For those who don't know me.</p>
</section>


<section class="section">
<div class="card">
<p>Hi! I'm Nathan, Im just a guy who loves learning about technology and sharing my knowledge with others. This website was something that I really allways wanted to do, but didnt quite have the 
    time or resources to make it happen until now. Ultimatly, I want to create a space where I can share my thoughts, ideas, and projects with anyone who comes across this site.
Ever since I was a kid, I've been fascinated by computers and how they work. This passion has driven me to explore various aspects of technology, 
from building my own PCs to diving into software development, diving deep into networking, exploring new concepts, really just having fun with it all.
I am currently employed as a Technical Assistant with Smith County School District and I love what I do everyday there. The atmosphere is amazing,
and my coworkers are some of the best people I've ever worked with. I am always looking for new things to "dive off the deep end" with, no matter
the difficulty as I believe that's where the most growth happens. Something about being thrown into a challenging situation that I dont know yet how to navigate really excites me.
Im also a Full-Time student at USM, where I am pursuing a degree in Computer Science. Balancing work, school, and personal projects can be challenging, but I thrive on the excitement of learning new things and pushing myself to grow.
When I'm not working or studying, you can usually find me tinkering with my homelab, experimenting with new software, or exploring the latest trends in technology. I also enjoy gaming, playing dnd, and spending time with friends and family.
</p>
</div>
</section>
</SiteLayout>