---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="About — Nathan Bullock">
<section class="hero">
<h1>About Me</h1>
<p class="muted">For those who don't know me.</p>
</section>


<section class="section">
<div class="card">
<p> Ill do this later
</p>
</div>
</section>
</SiteLayout>
